{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-4">
        <p>Percentage for notifications</p>
        <input id="percentage" class="form-control" value="10" placeholder="percentage" maxlength="5" style="margin: 10px">
    </div>

    <table id="datatable" class="table table-bordered">
        <thead>
        <tr>
            <th>Currency</th>
            <th>binance</th>
            <th>bitpay</th>
            <th>bitfinix</th>
            <th>bitstamp</th>
            <th>bittrex</th>
            <th>cex</th>
            <th>exmo</th>
            <th>hitbit</th>
            <th>kraken</th>
            <th>Liqui</th>
            <th>Livecoin</th>
            <th>Poloniex</th>
            <th>wex</th>
            <th>xbtce</th>
            <th>yobi</th>
            <th>bitbay</th>
        </tr>
        </thead>
        <tbody>
        <tr id="BTC">

        </tr>

        <tr id="BCH">

        </tr>

        <tr id="ETH">

        </tr>

        <tr id="LTC">

        </tr>

        <tr id="BTG">

        </tr>


        <tr id="DSH">

        </tr>

        <tr id="ETC">

        </tr>

        <tr id="XMR">

        </tr>

        <tr id="XRP">

        </tr>

        <tr id="BNT">

        </tr>
        </tbody>
    </table>





{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        {#
            binance = 0 -done
            bitpay = 1 - done
            bitfinix = 2 - done
            bitstamp = 3 - done
            bittrex = 4 - done
            cex = 5 - done
            exmo =6 - done
            hitbit = 7 -done
            kraken = 8-done
            Liqui = 9 - done
            Livecoin = 10 -done
            Poloniex = 11 -done
            wex = 12 - done
            xbtce = 13
            yobi = 14
            bitbay = 15
        #}
        $(function() {
            var prices = new Array(16);
            prices.fill({});
//            setInterval(Bitfinix, 5000);
            setInterval(getData, 10000);
            setInterval(updateTable, 5000);
            setInterval(notify, 10000);
            setInterval(bitfinixApiCall, 15000);
            var exchanges = ['binance','bitpay','bitfinix','bitstamp','bittrex','cex','exmo','hitbit','kraken','Liqui','Livecoin','Poloniex','wex','xbtce','yobi','bitbay']

            function compare(first,second,limit) {
                var diff;
                if(first>second){
                    diff = ((first-second)/second)*100;
                    if(diff>limit){
                        return [first,second,1,diff]
                    }
                }else{
                    diff = ((second-first)/first)*100;
                    if(diff>limit){
                        return [first,second,2,diff]
                    }
                }

                return false

            }

            function bitfinixApiCall() {
                /**
                 *bitfinix
                 */

                $.ajax({
                    type: "GET",
                    url: "{{ url('bitfinex') }}",
                    cache: false,
                    success: function(data){
                        prices[2] = data
                    }
                });
            }

            function notify() {
                var currencies = ['BTC','BCH','ETH','LTC','BTG','DSH','ETC','XMR','XRP','BNT'];
                var email = '';
                for(var index = 0; index<currencies.length;index++){
                    for(var i=0; i<prices.length-1; i++) {
                        if(typeof prices[i][currencies[index]] != 'undefined'){
                            var firstPrice = prices[i][currencies[index]];
                            for(var j=i+1; j<prices.length; j++) {
                                if(typeof prices[j][currencies[index]] != 'undefined'){
                                    var secondPrice = prices[j][currencies[index]];
                                    var result = compare(firstPrice,secondPrice,parseFloat($('#percentage').val()));
                                    if(result != false){
                                        email+= '<li>'+(currencies[index]+' -   '+exchanges[i]+':'+result[0]+' - '+exchanges[j]+':'+result[1]+' - '+result[3])+'</li>';
                                    }
                                }
                            }
                        }
                    }
                }
                if(email != ''){
                    email = '<ul>'+email+'</ul>';
                    $.ajax({
                        type: "POST",
                        url: "{{ url('email') }}",
                        data:{'email':email},
                        cache: false,
                        success: function(data){
                            console.log(data);
                        }
                    });
                    console.log(email);
                }



            }

            function updateTable() {
                var btc = '<td>BTC</td>';
                var bch = '<td>BCH</td>';
                var eth = '<td>ETH</td>';
                var ltc = '<td>LTC</td>';
                var btg = '<td>BTG</td>';
                var dsh = '<td>DSH</td>';
                var etc = '<td>ETC</td>';
                var xmr = '<td>XMR</td>';
                var xrp = '<td>XRP</td>';
                var bnt = '<td>BNT</td>';
                for(var i=0; i<prices.length; i++) {
                    if(typeof prices[i].BTC != 'undefined'){
                        btc += "<td>"+moneyFormat(prices[i].BTC)+"</td>"
                    }else{
                        btc += "<td></td>"
                    }

                    if(typeof prices[i].BCH != 'undefined'){
                        bch += "<td>"+moneyFormat(prices[i].BCH)+"</td>"
                    }else{
                        bch += "<td></td>"
                    }

                    if(typeof prices[i].ETH != 'undefined'){
                        eth += "<td>"+moneyFormat(prices[i].ETH)+"</td>"
                    }else{
                        eth += "<td></td>"
                    }

                    if(typeof prices[i].LTC != 'undefined'){
                        ltc += "<td>"+moneyFormat(prices[i].LTC)+"</td>"
                    }else{
                        ltc += "<td></td>"
                    }

                    if(typeof prices[i].BTG != 'undefined'){
                        btg += "<td>"+moneyFormat(prices[i].BTG)+"</td>"
                    }else{
                        btg += "<td></td>"
                    }

                    if(typeof prices[i].DSH != 'undefined'){
                        dsh += "<td>"+moneyFormat(prices[i].DSH)+"</td>"
                    }else{
                        dsh += "<td></td>"
                    }

                    if(typeof prices[i].ETC != 'undefined'){
                        etc += "<td>"+moneyFormat(prices[i].ETC)+"</td>"
                    }else{
                        etc += "<td></td>"
                    }

                    if(typeof prices[i].XMR != 'undefined'){
                        xmr += "<td>"+moneyFormat(prices[i].XMR)+"</td>"
                    }else{
                        xmr += "<td></td>"
                    }

                    if(typeof prices[i].XRP != 'undefined'){
                        xrp += "<td>"+moneyFormat(prices[i].XRP)+"</td>"
                    }else{
                        xrp += "<td></td>"
                    }

                    if(typeof prices[i].BNT != 'undefined'){
                        bnt += "<td>"+moneyFormat(prices[i].BNT)+"</td>"
                    }else{
                        bnt += "<td></td>"
                    }


                }
                $('#BTC').html(btc);
                $('#BCH').html(bch);
                $('#ETH').html(eth);
                $('#LTC').html(ltc);
                $('#BTG').html(btg);
                $('#DSH').html(dsh);
                $('#ETC').html(etc);
                $('#XMR').html(xmr);
                $('#XRP').html(xrp);
                $('#BNT').html(bnt);

                console.log('table updated');
            }

            function getData() {

                /**
                 *binance
                 */

                $.ajax({
                    type: "GET",
                    url: "{{ url('binance') }}",
                    cache: false,
                    success: function(data){
                        prices[0] = data
                    }
                });

                /**
                 *bitpay
                 */

                $.ajax({
                    type: "GET",
                    url: "{{ url('bitpay') }}",
                    cache: false,
                    success: function(data){
                        prices[1] = data
                    }
                });

                /**
                 *bitstamp
                 */

                $.ajax({
                    type: "GET",
                    url: "{{ url('bitstamp') }}",
                    cache: false,
                    success: function(data){
                        prices[3] = data
                    }
                });

                /**
                 *bittrex
                 */

                $.ajax({
                    type: "GET",
                    url: "{{ url('bittrex') }}",
                    cache: false,
                    success: function(data){
                        prices[4] = data
                    }
                });

                /**
                 * cex
                 */
                $.ajax({
                    type: "GET",
                    url: "{{ url('cex') }}",
                    cache: false,
                    success: function(data){
                        prices[5] = data
                    }
                });

                /**
                 * exmo
                 */
                $.ajax({
                    type: "GET",
                    url: "{{ url('exmo') }}",
                    cache: false,
                    success: function(data){
                        prices[6] = data
                    }
                });

                /**
                 * hitbtc
                 */
                $.ajax({
                    type: "GET",
                    url: "{{ url('hitbtc') }}",
                    cache: false,
                    success: function(data){
                        prices[7] = data
                    }
                });



                /**
                 * kraken
                 */
                $.ajax({
                    type: "GET",
                    url: "{{ url('kraken') }}",
                    cache: false,
                    success: function(data){
                        prices[8] = data
                    }
                });

                /**
                 * liqui
                 */
                $.ajax({
                    type: "GET",
                    url: "{{ url('liqui') }}",
                    cache: false,
                    success: function(data){
                        prices[9] = data
                    }
                });

                /**
                 * livecoin
                 */
                $.ajax({
                    type: "GET",
                    url: "{{ url('livecoin') }}",
                    cache: false,
                    success: function(data){
                        prices[10] = data
                    }
                });


                /**
                 * poloneix
                 */
                $.ajax({
                    type: "GET",
                    url: "{{ url('poloniex') }}",
                    cache: false,
                    success: function(data){
                        prices[11] = data
                    }
                });

                /**
                 * wex
                 */
                $.ajax({
                    type: "GET",
                    url: "{{ url('wex') }}",
                    cache: false,
                    success: function(data){
                        prices[12] = data
                    }
                });

                /**
                 * xbtce
                 */
                $.ajax({
                    type: "GET",
                    url: "{{ url('xbtce') }}",
                    cache: false,
                    success: function(data){
                        prices[13] = data
                    }
                });

                /**
                 * xbtce
                 */
                $.ajax({
                    type: "GET",
                    url: "{{ url('bitbay') }}",
                    cache: false,
                    success: function(data){
                        prices[15] = data
                    }
                });










            }

            function moneyFormat(price) {
                const pieces = parseFloat(price).toFixed(2).split('')
                var ii = pieces.length - 3
                while ((ii-=3) > 0) {
                    pieces.splice(ii, 0, ',')
                }
                return pieces.join('')
            }

            function createTable(tableData) {
                var table = document.createElement('table');
                var tableBody = document.createElement('tbody');

                tableData.forEach(function(rowData) {
                    var row = document.createElement('tr');

                    rowData.forEach(function(cellData) {
                        var cell = document.createElement('td');
                        cell.appendChild(document.createTextNode(cellData));
                        row.appendChild(cell);
                    });

                    tableBody.appendChild(row);
                });

                table.appendChild(tableBody);
                document.body.appendChild(table);
            }


        });
    </script>
{% endblock %}

